@import "~@material/toolbar/dist/mdc.toolbar.css";

/*:root {*/
/*--mdc-theme-primary: #000;*/
/*--mdc-theme-primary-light: #000;*/
/*--mdc-theme-primary-dark: #000;*/
/*--mdc-theme-secondary: #000;*/
/*--mdc-theme-secondary-light: #000;*/
/*--mdc-theme-secondary-dark: #000;*/
/*--mdc-theme-background: #000;*/

/*--mdc-theme-text-primary-on-primary: #212121;*/
/*}*/

/*Checkbox ripple*/
/*.mdc-checkbox.theme::before, .mdc-checkbox.theme::after {*/
/*background-color: rgba(158, 158, 158, 0.14);*/
/*}*/

#content {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  box-sizing: border-box;
}

#content #main {
  padding: 14px;
}

#menu {
  fill: #FFFFFF;
}

.mdc-theme--dark #content {
  background-color: #212121;
  color: var(--mdc-theme-text-primary-on-dark, #FFFFFF);
}